<div>
	<h2><%= @job.name %></h2>
	<p>Description: <%= @job.body %></p>
	<p>Pay: <%= @job.cost %></p>
	<p>Origin: <%= @job.origin %></p>
	<p>Destination: <%= @job.destination %></p>
	<p>Containers needed: <%= @job.containers_reqd %></p>
	<p>Progress: <%= @job.progress %></p>
</div>
