<!DOCTYPE html>
<html>
<head>
  <title>DeadliestCatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<nav>
			<ul>
				<% if current_user %>
					<li><%= button_to current_user.email%></li>  
				<% end %> 
				<li><%= button_to("Home", root_path, method: :get)%></li>
				<li><%= current_user ? button_to("Logout", destroy_user_session_path, method: :delete): button_to("Login", new_user_session_path) %></li>
			</ul>
		</nav>
	</div>
		

	<div id="layout-user-list">
		<%owners = User.all %>
		<ul>
			<% owners.each do |owner| %>
				<li><%= link_to owner.email.split("@")[0].capitalize, owner_path(owner) %></li>
			<%end%>
		</ul>
	</div>
  <div id="content">
  	<p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  
	
		<%= yield %>
	</div>
</body>
</html>
